.user-profile{
    padding-bottom: 1rem;
    &__heading{
        font-size: 1.5rem;
        font-weight: bold;
    }
    &__name{
        font-size: 1.2rem;
    }
    &__label{
        font-weight: bold;
    }
}